{% extends 'comp/base1.html' %} {% block title %} Services {% endblock %}
 {% block body %}

<!-- Service, Software development and SOHO repair -->
<div class="container-fluid mt-5 pt-3 mobile services">
  <h2 class="text-center">SERVICES Offered</h2>
  <hr class="my-4" />
  <div class="row text-center mb-4">
    <!-- Software development -->
    <div class="col-xsm-12 col-sm-12 col-md-6 col-lg-6">
      <i class="fas fa-code fa-4x"></i>
      <h3 class="title m-10">Software Develoment</h3>
      <p>
        I Design and Built Business websites, Personal Blogs, Portifolio
        Websites, Ecommerce, Custom Softwares and ERP Systems.
      </p>
    </div>
    <!-- ICT Repair -->
    <div class="col-xsm-12 col-sm-12 col-md-6 col-lg-6">
      <i class="fas fa-tools fa-4x"></i>
      <h3 class="title p-20">ICT ASSET Repairs.</h3>
      <p>
        I Troubleshoot and repair fault laptops, desktops, and printers among
        other ICT Assets.
      </p>
      <p>Troubleshooting and Diagnoing SOHO network problems.</p>
    </div>
  </div>

  <div class="row text-center">
    <!-- CCTV installation -->
    <div class="col-xsm-12 col-sm-12 col-md-6 col-lg-6">
      <i class="fas fa-camera fa-4x"></i>
      <h3 class="title m-10">CCTV Installation.</h3>
      <p>
        Installation of CCTV in business establishments,Homes, Appartments and
        other establishments.
      </p>
    </div>

    <!-- Tutoring -->
    <div class="col-xsm-12 col-sm-12 col-md-6 col-lg-6">
      <i class="fas fa-laptop fa-4x"></i>
      <h3 class="title m-10">Tutoring.</h3>
      <p>
        I tutor junior software developers and students on HTML5, CSS3,
        Bootstrap4&5, Python and javascript.
      </p>
      <p>
        I train people on computer fundamentals; Office, windows, computer
        networking.
      </p>
    </div>
  </div>
</div>

{% endblock %}
