{% load static %}
<div class="container-fluid foot">
  <div class="row my-5 py-1">
    <div class="col-md-3 col-lg-3 text-center">
      <div>
        <img
          src="{% static 'comp/img/ndosh.png' %}"
          class="rounded logo"
          alt="LOGO"
        />
      </div>
      <div>
        <a href="https://www.facebook.com/ndongaamos " target="_blank "
          ><i class="fab fa-facebook fa-2x p-2 social"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/amos-ndonga-762339115/ "
          target="_blank "
          ><i class="fa fa-linkedin-square fa-2x p-2 social"></i
        ></a>
        <a href="https://twitter.com/amosn593 " target="_blank "
          ><i class="fab fa-twitter fa-2x p-2 social"></i
        ></a>
        <a href="https://github.com/amosn593 " target="_blank "
          ><i class="fab fa-github fa-2x p-2 social"></i
        ></a>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 text-center my-2">
      <p>Copyright &copy; 2021 | A&T | All Rights Reserved.</p>
      <p class="px-2">+254702240787</p>
      <p class="px-2">info@amosndonga.com</p>
      <p class="px-2">amosndonga@gmail.com</p>
    </div>
    <div class="col-md-3 col-lg-3 text-center">
      <h5>Other Projects</h5>
      <div class="text-white">
        <a href="https://e-kuku.co.ke" target="_blank" class="other_projects"
          >E-kuku Ecommerce Website</a
        >
        <br />
        <a
          href="https://www.youtube.com/watch?v=V2WC3jupVgM"
          target="_blank"
          class="other_projects"
          >ICT Assets Management System</a
        >
        <br />
        <a
          href="https://youtu.be/BKty8GgVNzw"
          target="_blank"
          class="other_projects"
          >Visitors' Access Control System</a
        >
        <br />
        <a href="https://amosndonga.com" target="_blank" class="other_projects"
          >A&T Website</a
        >
      </div>
    </div>
  </div>
</div>
