{% load static %}
<div class="foot mt-4">
  <div class="row m-0 p-0">
    <div class="col-md-3 col-lg-3 text-center">
      <a href="https://www.facebook.com/ndongaamos " target="_blank "
        ><i class="fab fa-facebook fa-2x p-2 social"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/amos-ndonga-762339115/ "
        target="_blank "
        ><i class="fa fa-linkedin-square fa-2x p-2 social"></i
      ></a>
      <a href="https://twitter.com/amosn593 " target="_blank "
        ><i class="fab fa-twitter fa-2x p-2 social"></i
      ></a>
      <a href="https://github.com/amosn593 " target="_blank "
        ><i class="fab fa-github fa-2x p-2 social"></i
      ></a>
    </div>
    <div class="col-md-6 col-lg-6 text-center my-2">
      <p>Copyright &copy; 2021 | A&T | All Rights Reserved.</p>
    </div>
    <div class="col-md-3 col-lg-3 text-center d-flex">
      <p class="px-2">+254702240787</p>
      <p class="px-2">amosndonga@gmail.com</p>
    </div>
  </div>
</div>
