{% load static %}
<div class="container-fluid foot">
  <div class="row my-5 py-1">
    <div class="col-md-3 col-lg-3 text-center">
      <div class="my-2 py-2">
        <img
          src="{% static 'comp/img/fav.jpg' %}"
          class="rounded logo"
          alt="LOGO"
        />
      </div>
      <div class="my-2 py-2">
        <a href="https://www.facebook.com/ndongaamos " target="_blank "
          ><i class="fab fa-facebook fa-2x p-2 social"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/amos-ndonga-762339115/ "
          target="_blank "
          ><i class="fa fa-linkedin-square fa-2x p-2 social"></i
        ></a>
        <a href="https://twitter.com/amosn593 " target="_blank "
          ><i class="fab fa-twitter fa-2x p-2 social"></i
        ></a>
        <a href="https://github.com/amosn593 " target="_blank "
          ><i class="fab fa-github fa-2x p-2 social"></i
        ></a>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 text-center my-2">
      <p>Copyright &copy; 2021 | All Rights Reserved.</p>
      <p>AMOS ICT SERVICES</p>
      <p class="px-2">+254702240787</p>
      <p class="px-2">info@amosndonga.com</p>
      <p class="px-2">amosndonga@gmail.com</p>
    </div>
    <div class="col-md-3 col-lg-3 text-center">
      <h5>Other Projects</h5>
      <div class="text-white">
        <a
          href="https://www.youtube.com/watch?v=l_wD9iVTu50"
          target="_blank"
          class="my-2 other_projects"
          >ICT Assets Management System</a
        >
        <br />
        <br />
        <a
          href="https://www.youtube.com/watch?v=Tde5Mw8dvvc"
          target="_blank"
          class="my-2 other_projects"
          >Visitors' Access Control System</a
        >

        <br />
        <br />
        <p>Designed & built by: amosndonga@gmail.com</p>
      </div>
    </div>
  </div>
</div>
