{% load static %}
<div class="intro-top">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img
          src="{% static 'comp/img/amos.jpg' %}"
          alt="..."
          class="rounded myphoto"
        />
        <h4 class="my-1">MR. Amos Ndonga</h4>
        <h6 class="title-intro">
          Software Developer & ICT Services Support Specialist
        </h6>
        <p>
          Passionate software developer & ICT services support specialist with
          experience in software development,hardware repair, software
          troubleshooting, networking, operating systems, system administration,
          project planning and management, customer service and process
          improvement.
        </p>
      </div>
      <div class="col-md-6">
        <h4 class="mt-4">Expert in</h4>
        <ul>
          <li class="my-2 py-2">Software Development</li>
          <li class="my-2 py-2">ICT Services Support</li>
          <li class="my-2 py-2">ICT Assets Repairs</li>
          <li class="my-2 py-2">CCTV Installation and Upgrade</li>
          <li class="my-2 py-2">
            Project Planning, Management, Monitoring and Evaluation
          </li>
        </ul>
        <a href="{% url 'contact' %}" class="btn btn-success m-2 p-2"
          >Get in Touch</a
        >
      </div>
    </div>
  </div>
</div>
