{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="{% static 'comp/img/amos.jpg' %}"
        alt="..."
        class="rounded myphoto"
      />
      <h4>MR. Amos Ndonga</h4>
      <h6 class="title-intro">
        Software Developer & ICT Services Support Specialist
      </h6>
      <p>
        Passionate software developer & ICT services support specialist with
        experience in software development,hardware repair, software
        troubleshooting, networking, operating systems, system administration,
        project planning and management, customer service and process
        improvement.
      </p>
    </div>
    <div class="col-md-6">
      <h4 class="mt-4">Technical and Business Skills</h4>
      <ul>
        <li><strong>Backend:</strong> Python Django, C#, ASP.NET CORE</li>
        <li>
          <strong>Frontend:</strong> JavaScript,ReactJs, HTML, CSS, and
          Bootsrap5
        </li>
        <li><strong>Version control:</strong> GitHub, Travis</li>
        <li><strong>Web Servers:</strong> Apache Web Server.</li>
        <li>
          <strong>Cloud Computing:</strong> Microsoft Azure, Office 365, and
          Google cloud
        </li>
        <li><strong>Operating Systems:</strong> Windows 7/8.1/10, Linux,</li>
        <li>
          <strong>Databases:</strong> MYSQL, PostgreSQL, MSSQL Server, and Mongo
          dB
        </li>
        <li>
          <strong>Business:</strong> Customer support, Project planning and
          management, Process improvement, Microsoft Office.
        </li>
        <li>
          <strong>Other Skills:</strong> Zoom, Slack, Google Meet, Microsoft
          Teams, and Cisco Webex.
        </li>
      </ul>
    </div>
  </div>
</div>
