{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mynavbar">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img
      src="{% static 'comp/img/logo-black.jpg' %}"
      class="rounded logo"
      alt="LOGO"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item d-flex">
        <a class="nav-link" href="{% url 'home' %}"> HOME </a>
      </li>

      <li class="nav-item d-flex">
        <a class="nav-link" href="{% url 'services' %}">SERVICES</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link" href="{% url 'contact' %}"> CONTACTS</a>
      </li>
    </ul>
    <div class="d-flex">
      <p class="me-2 px-2 nav-contact">+254702240787</p>
      <p class="me-2 px-2 nav-contact">amosndonga@gmail.com</p>
    </div>
  </div>
</nav>
