@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling */

body {
  /* font-family: "Playfair Display", sans-serif; */
  font-family: "Zilla Slab", serif;
  position: relative;
  background-color: #ececec;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* Top Nav */

.mynavbar {
  color: #f9f9f9 !important;
  background-color: rgb(224, 27, 27) !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.page-content {
  margin-top: 100px !important;
  margin-bottom: 30px !important;
}

.lead {
  font-weight: 500 !important;
}

/* Navbar */

.logo {
  margin-top: 3px;
  width: 200px !important;
  height: 100px !important;
}

.navbar-brand {
  color: #f2f2f2 !important;
  font-weight: 700;
}

.nav-item {
  padding: 10px 20px !important;
}

.nav-link {
  color: #f2f2f2 !important;
  text-align: center;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}

.nav-link:hover {
  color: #111010 !important;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

.nav-contact {
  font-weight: 500 !important;
}

/* block content */

/* Index */

ul li {
  list-style-type: square;
  list-style-position: inside;
}

.myphoto {
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.title-intro {
  color: #de6363;
}

.card-image {
  height: 35vh !important;
}

.card-desc {
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-decoration: underline;
  text-decoration-color: #fd6510;
}

#block {
  padding: 16px;
  margin-top: 30px;
}

.slided {
  height: 80vh !important;
}

.h5 {
  color: #fff;
  font-weight: 700;
  opacity: 100%;
}

/* Profile */

/* Social Media */

/* Home , services */
.intro-top {
  padding: 10px 20px !important;
  background-color: #314351 !important;
  color: #fff;
  font-family: "Jost", sans-serif;
  /* font-size: 16px !important; */
}
.services {
  background-color: #f0f0d0;
}

.testimony {
  color: #fff;
  background-color: #266dd1 !important;
  padding: 15px 20px !important;
  margin-bottom: -40px !important;
}

.client-image {
  border-radius: 50% !important;
  width: 120px !important;
  height: 104px !important;
}

/* footer */

.foot {
  margin-top: 50px;
  padding-top: 50px !important;
  padding-bottom: 15px;
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgb(224, 27, 27) !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  font-size: 14px;
}

.social {
  color: #fff !important;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.social:hover {
  color: rgb(53, 49, 49) !important;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* Media query */

@media screen and (max-width: 576px) {
  .slided {
    margin-top: 15px !important;
    width: 100%;
    height: 43vh !important;
  }
  .card-image {
    height: 20vh !important;
  }

  .page-content {
    margin-top: 115px !important;
  }

  .mobile {
    margin-top: 80px !important;
    /* margin-bottom: 150px !important; */
  }
  .testimony {
    color: #fff;
    background-color: #266dd1 !important;
    padding: 15px 20px !important;
    margin-bottom: 30px !important;
  }

  .foot {
    height: 200px !important;
    margin-top: 100px !important;
  }
}
