@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
  --body-bg: #ececec;
  --nav-bg: rgb(224, 27, 27);
  --footer-bg: #ececec;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling */

body {
  /* font-family: "Playfair Display", sans-serif; */
  font-family: "Zilla Slab", sans-serif;
  position: relative;
  background-color: var(--body-bg);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.page-content {
  padding: 2% 2%;
  margin-top: 2%;
  padding-bottom: 15%;
  max-width: 100%;
}

.mobile {
  margin-top: 30px !important;
  margin-bottom: 100px !important;
}

.lead {
  font-weight: 500 !important;
}

/* Navbar */
/* Top Nav */

.mynavbar {
  color: #f9f9f9 !important;
  background-color: var(--nav-bg) !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.logo {
  margin-top: 3px;
  width: 280px !important;
  height: 50px !important;
}

.navbar-brand {
  color: #f2f2f2 !important;
  font-weight: 700;
}

.nav-item {
  padding: 10px 20px !important;
}

.nav-link {
  color: #f2f2f2 !important;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s;
}

.nav-link:hover {
  color: #111010 !important;
  background-color: #f2f2f2 !important;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
}

.nav-contact {
  font-weight: 400 !important;
}

/* Intro */
.intro-logo {
  width: 100%;
  border-radius: 5px;
}

.intro-top {
  padding: 15px 20px;
  background-color: #314351;
  color: #fff;
  font-family: "Jost", sans-serif;
  width: 100% !important;
}

/* block content */

/* Index */

ul li {
  list-style-type: square;
  list-style-position: inside;
}

.myphoto {
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.title-intro {
  color: #de6363;
}

.card-image {
  height: 35vh !important;
}

.card-desc {
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-decoration: underline;
  text-decoration-color: #fd6510;
}

#block {
  padding: 16px;
  margin-top: 30px;
}

.h5 {
  color: #fff;
  font-weight: 400;
  opacity: 100%;
}

/* Profile */

/* Social Media */

/* Home , services */

.services {
  background-color: #f0f0d0;
}

.testimony {
  color: #fff;
  background-color: #266dd1 !important;
}

.client-image {
  border-radius: 50% !important;
  width: 120px !important;
  height: 104px !important;
}

/* footer */

.foot {
  text-align: center;
  align-items: center;
  color: white;
  background-color: #111010 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.social {
  color: #fff !important;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.social:hover {
  color: rgb(53, 49, 49) !important;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.other_projects {
  color: #fff;
}

.other_projects:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--nav-bg);
}

/* Media query */

@media screen and (max-width: 576px) {
  .card-image {
    height: 20vh !important;
  }

  .page-content {
    margin-top: 10% !important;
    padding-bottom: 95% !important;
  }

  .mobile {
    margin-top: 20px !important;
    padding-bottom: 170px !important;
  }
  .testimony {
    color: #fff;
    background-color: #266dd1 !important;
    margin-bottom: 190px !important;
  }
}
