{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | A&T Technologies</title>
    <!-- Required meta tags -->
    <meta
      name="google-site-verification"
      content="hbMlPUS3rVMDtM_ESyfm0P4sPIGR2CzqS-Oyexfytn0"
    />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Amos Ndonga; software developer(websites, blogs and ecommerce), ICT Services Support Specialist, ICT Asset repairs, CCTV installation Expert, SOHO network setup and troubleshooting"
    />
    <meta
      name="keywords"
      content="Software Development, ICT support services, ICT Assets repair, SOHO, networking,cctv installation, amos ndonga, mombasa, mkomani, Software development tutoring, general ICT consultancy"
    />
    <meta
      name="author"
      content="amos ndonga, +254702240787 amosndonga@gmail.com info@amosndonga.com"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'comp/css/bootstrap.min.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'comp/css/main.css' %}"
    />
    <link rel="stylesheet" href="{% static 'comp/css/toastr.min.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'comp/img/fav.jpg' %}"
      type="image/x-icon"
    />

    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/3a5994e29b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="mb-2">{% include 'comp/incl/nav.html' %}</div>

    <!---Content block-->
    <div class="container-fluid page-content">
      {% block body %}{% endblock %}
    </div>
    <br />
    <br />

    <!---Footer-->
    <div>{% include 'comp/incl/footer.html' %}</div>

    <!-- Optional JavaScript -->
    <script src="{% static 'comp/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
