{% extends 'comp/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}

<!-- Container fluid, two columns, Image and description -->
<div class=" container description ">
      <div class="row m-3 ">
            <div class="col-xsm-12 col-sm-12 col-md-6 col-lg-6 ">
                  <h3 class="title ">MR. AMOS NDONGA</h3>
                  <p style="color: #DE6363; font-weight: bold; ">Software Developer | ICT Services
                        Support Specialist
                  </p>
                  <p class="desc ">Middle-level software developer & ICT support professional . 1.5
                        years of experience in hardware repair, software troubleshooting,
                        networking, security, operating systems, system administration, software
                        development, project management,
                        customer service and process improvement. Recently completed the Google IT
                        Support Professional Certificate — an eight-month IT support program that
                        covers troubleshooting, customer service, networking, operating systems,
                        system
                        administration, and security, and includes hands-on labs.
                  </p>
                  <h5 class="title ">ICT Certifications</h5>
                  <p class="p-0 m-0 desc ">Google IT support Professional certificate, Google.</p>
                  <p class="p-0 m-0 desc ">Microsoft Certified: Azure Fundamentals, Microsoft.</p>
                  <p class="p-0 m-0 desc ">Windows Server 2019: Install and Configure Active
                        Directory, LinkedIn Learning.
                  </p>
                  <p class="p-0 m-0 desc ">Office 365 for Administrators: Supporting Users, LinkedIn
                        Learning.
                  </p>
                  <p class="p-0 m-0 desc ">Building Web Applications in PHP, Coursera.</p>
                  <p class="p-0 m-0 desc ">Introduction to Network Operations, Internet Society.
                  </p>
                  <p class="p-0 m-0 desc ">Modern Big Data Analysis with SQL, Cloudera.</p>
                  <p class="p-0 m-0 desc ">SQL for Data Analytics, Udemy</p>
                  <p class="p-0 m-0 desc ">Visual Analytics with Tableau, Coursera.</p>
            </div>
            <div class="col-xsm-12 col-sm-12 col-md-6 col-lg-6 ">
                  <h4>
                        <h3 class="title ">TECHNICAL AND BUSINESS SKILLS</h3>
                        <ul class="desc ">
                              <li> <strong>Programming Languages:</strong> Advanced in Python, PHP,
                                    C#, ASP.NET CORE, JavaScript,ReactJs, HTML, CSS, and Bootsrap4 .
                              </li>
                              <li> <strong>Databases:</strong> Proficient in MYSQL, PostgreSQL,
                                    MSSQL Server, and Mongo dB</li>
                              <li> <strong>Cloud Computing:</strong> Proficient in Microsoft Azure,
                                    Office 365, and AWS.
                              </li>
                              <li><strong>Active Directory:</strong> User & computer management,
                                    Print server, Group policy, File share.</li>
                              <li><strong>Linux Administration:</strong> User, Files, Permission,
                                    and Program Management.
                              </li>
                              <li><strong>Networking:</strong> PowerShell, Active directory, TCP/IP,
                                    VPN, IP, Subnetting, DNS, DHCP.</li>
                              <li><strong>Operating Systems:</strong> Windows 7/8.1/10, Linux,
                                    Android.
                              </li>
                              <li><strong>Help Desk Ticketing Systems.</strong> </li>
                              <li><strong>Version control:</strong> GitHub.</li>
                              <li><strong>Business:</strong> Customer support, Project management,
                                    Process improvement, Microsoft Office.</li>
                              <li><strong>Experience with API:</strong> REST, JSON, XML.</li>
                              <li><strong>Other Skills:</strong> Zoom, Slack, Google Meet, Microsoft
                                    Teams, and Cisco Webex.
                              </li>

                        </ul>
                  </h4>

            </div>

      </div>

</div>
{% endblock %}